[Unit]
Description=Timer for lego-openbao

[Timer]
{% if lego_openbao_timer_on_boot | bool %}
OnBootSec={{ lego_openbao_timer_on_boot }}
{% endif %}
{% if lego_openbao_timer_on_calendar %}
OnCalendar={{ lego_openbao_timer_on_calendar }}
{% else %}
OnActiveSec={{ lego_openbao_timer_interval }}
{% endif %}
{% if lego_openbao_timer_accuracy %}
AccuraySec={{ lego_openbao_timer_accuracy }}
{% endif %}
{% if lego_openbao_timer_random_delay %}
RandomizedDelaySec={{ lego_openbao_timer_random_delay }}
{% endif %}
{% if lego_openbao_timer_persistent %}
Persistent={{ lego_openbao_timer_persistent | string }}
{% endif %}

Unit=lego-openbao.service

[Install]
WantedBy=timers.target
